<%= provide(:title, "コメント一覧") %>
<div class="post-show mx-auto">
  <%= render "posts/post", post: @post %>
</div>

<div class="search-area mx-auto">
  <%= form_for [@post, Comment.new], remote: true do |f| %>
    <div class="form-group">
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.label :comment, "コメントを投稿する" %>
      <%= f.text_area :comment, class: "form-control", maxlength: 50 %>
    </div>
    <%= f.submit "投稿する", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="comment-list" id="comment-list">
  <%= render "comments/comment_list" %>
</div>
