<%= provide(:title, "#{@user.username}がいいねした投稿") %>
<div class="user-info">
  <%= image_tag @user.image.thumb.url, size: "100x100" ,class: "rounded-circle" %>
  <h2><%= @user.username %></h2>
  <section class="stats">
    <%= render 'shared/stats', user: @user %>
  </section>
  <%= render 'users/follow_form', user: @user %>
</div>

<div class="post-like-switching mx-auto">
  <ul class=row>
    <%= link_to user_path(@user) do %>
      <li>投稿一覧</li>
    <% end %>
    <%= link_to user_likes_path(@user) do %>
      <li class="active">いいねした投稿一覧</li>
    <% end %>
  </ul>
</div>

<div class="post-list">
  <%= render 'posts/post_list' %>
</div>
