<% provide(:title, "User information edit") %>
<div class="profile-form-image">
  <%= image_tag "person.jpeg", size: "128x128" %>
</div>
<div class="edit-profile-wrapper text-center">
  <h2>ユーザー情報変更</h2>
  <div class="profile-form-wrap mx-auto text-left">
    <% @user.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>

    <%= form_for(@user) do |f| %>

      <div class="form-group">
        <%= f.label :username, "ユーザーネーム" %>
        <%= f.text_field :username, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :sex, "性別" %><br>
        <%= f.label :男性 %>
        <%= f.radio_button :sex, :男性 %>
        <%= "/" %>
        <%= f.label :女性 %>
        <%= f.radio_button :sex, :女性 %>
      </div>

      <div class="form-group">
        <%= f.label :image, "プロフィール画像" %>
        <%= f.file_field :image %>
      </div>

      <%= f.submit "変更する", class: "btn btn-primary" %>
      <div class="btn-area">
        <%= link_to "パスワード変更", edit_user_registration_path(@user), class: "btn btn-primary" %>
        <%= link_to "アカウントを削除", registration_path(@user),
              class: "btn btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
      </div>
    <% end %>
  </div>
</div>
