<div class="user-info">
  <%= image_tag @user.image.thumb.url, size: "100x100" ,class: "rounded-circle" %>
  <h2><%= @user.username %></h2>
  <section class="stats">
    <%= render 'shared/stats', user: @user %>
  </section>
  <%= render 'users/follow_form', user: @user %>
</div>

<div class="post-list">
  <%= render 'posts/post_list' %>
</div>
