<%= provide(:title, @search_word || @artist_name || @album_name || "音楽ページ") %>

<%= render "shared/search_form", search_title: "投稿したい曲をアーティスト名で検索しよう", path: music_index_path %>

<% if @artist_lists %>
  <%= render "artist_lists", search_word: @search_word, artist_lists: @artist_lists %>
<% elsif @album_lists %>
  <%= render "album_lists", artist_name: @artist_name, album_lists: @album_lists %>
<% elsif @song_lists %>
  <%= render "song_lists", album_name: @album_name, song_lists: @song_lists %>
<% end %>

<% if @posts %>
<div class="post-list">
  <h3 class="text-center posts-count"><%= @artist_name || @album_name || "音楽" %>の投稿一覧</h3>
  <%= render 'posts/post_list' %>
</div>
<% end %>
