<div class="user-info">
  <%= link_to new_post_path(track: LookupTrack.search_by_trackid(post.trackId, post.track_type)) do %>
    <%= image_tag post.artwork %>
    <h4> <%= post.trackName %></h4>
  <% end %>
  <h5><%= link_to post.artistName, (post.track_type == "movie" ? movie_index_path : music_index_path(artist_id: post.artistId)) %></h5>
  <% if current_user %>
    <div id="post-comment-<%= post.id.to_s %>" class="post-comment">
      <%= link_to image_tag("comment.png", size: "33x33", alt: "コメント一覧"), post_comments_path(post), class: "comment" %>
      <p><%= post.comments.size %>件</p>
    </div>
    <div id="post-like-<%= post.id.to_s %>" class="post-like">
      <% if post.liked_by(current_user).present? %>
        <%= link_to image_tag("heart.png", size: "30x30", alt: "いいね取り消し"), like_path(post.liked_by(current_user)), method: :delete, remote: true, class: "no-love" %>
      <% else %>
        <%= link_to image_tag("no-heart.png", size: "30x30", alt: "いいね"), post_likes_path(post), method: :post, remote: true, class: "love" %>
      <% end %>
      <p><%= post.likes.size %>件</p>
    </div>
  <% end %>
</div>
<div class="content">
  <%= simple_format(post.content) %>
</div>
<div class="post-bottom">
<%= link_to user_path(post.user) do %>
  <div class="post-user-info">
    <%= image_tag post.user.image.thumb.url, size: "50x50" ,class: "rounded-circle" %>
    <h6><%= post.user.username %></h6>
  </div>
<% end %>
<% if post.user == current_user %>
  <%= link_to "投稿削除", post, method: :delete, data: {confirm: "削除してよろしいですか？"}, class: "delete-button" %>
<% end %>
</div>
