<%= provide(:title, @track["trackName"]) %>
<div class="track-title mx-auto">
  <%= image_tag @track["artworkUrl100"] %>
  <%= link_to "今すぐ視聴する", @track["previewUrl"], target: "_blank", class: "btn btn-success" %>
  <h2><%= @track["trackName"] %>/<%= @track["artistName"] %></h2>
</div>

<% if user_signed_in? %>
  <div class="post-form mx-auto">
    <%= form_for @post do |f| %>
      <div class="form-group">
        <%= f.hidden_field :artistName, value: @track["artistName"] %>
        <%= f.hidden_field :artistId, value: @track["artistId"] %>
        <%= f.hidden_field :trackName, value: @track["trackName"] %>
        <%= f.hidden_field :trackId, value: @track["trackId"] %>
        <%= f.hidden_field :collectionId, value: @track["collectionId"] %>
        <%= f.hidden_field :genre, value: @track["primaryGenreName"] %>
        <%= f.hidden_field :artwork, value: @track["artworkUrl60"] %>
        <% if @track["kind"] == "feature-movie" %>
          <%= f.hidden_field :track_type, value: "movie" %>
        <% elsif @track["kind"] == "song" %>
          <%= f.hidden_field :track_type, value: "music" %>
        <% end %>

        <%= f.label :content, "投稿文" %>
        <%= f.text_area :content, class: "form-control", maxlength: 400 %>
      </div>

      <%= f.submit "投稿する", class: "btn btn-primary" %>
    <% end %>
  </div>
<% else %>
  <%= link_to "投稿するにはログインが必要です", root_path %>
<% end %>

<div class="post-list">
  <h3 class="text-center posts-count"><%= @track["trackName"] %>に関する投稿： <%= @posts.count %>件</h3>
  <%= render 'posts/post_list' %>
</div>
