<%= provide(:title, @search_word || "映画ページ") %>

<%= render "shared/search_form", search_title: "投稿したい映画をタイトルで検索しよう", path: movie_index_path %>

<% if @movie_lists %>
  <h2 class="content-search-title">検索結果：<%= @search_word %></h2>
  <div class="music-list mx-auto row">
    <% @movie_lists.each do |list| %>
      <div class="track">
        <%= link_to new_post_path(track: list) do %>
          <%= image_tag list["artworkUrl100"] %>
          <br>
          <%= list["trackName"] %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @posts %>
  <div class="post-list">
    <h3 class="text-center posts-count">映画の投稿一覧</h3>
    <%= render 'posts/post_list' %>
  </div>
<% end %>
