<nav class="site-header py-1 fixed-top my-auto">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <%= link_to "FavCon", root_path, class: "py-2 h5" %>
    <% if current_user %>
      <%= link_to "Mypage", user_path(current_user), class: "py-2 d-none d-md-inline-block" %>
    <% end %>
    <%= link_to "Movie", movie_index_path, class: "py-2 d-none d-md-inline-block" %>
    <%= link_to "Music", music_index_path, class: "py-2 d-none d-md-inline-block" %>
    <% if current_user %>
      <%= link_to "Setting", edit_user_path(current_user), class: "py-2 d-none d-md-inline-block" %>
      <%= link_to "Logout", destroy_user_session_url, method: :delete, class: "py-2 d-none d-md-inline-block" %>
    <% else %>
      <%= link_to "Login", new_user_session_url, class: "py-2 d-none d-md-inline-block" %>
    <% end %>
  </div>
</nav>
