<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <%= link_to "FavCon", root_path, class: "navbar-brand" %>
  <%= render "notifications/notification_dropdown" if current_user %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto mx-auto">
      <% if current_user %>
        <li class="nav-item active">
          <%= link_to "Mypage", user_path(current_user), class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item active">
        <%= link_to "Movie", movie_index_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Music", music_index_path, class: "nav-link" %>
      </li>
      <% if current_user %>
        <li class="nav-item active">
          <%= link_to "Setting", edit_user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Logout", destroy_user_session_url, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Login", new_user_session_url, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
