<nav class="site-header py-1 fixed-top">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <%= link_to "FavCon", root_path, class: "py-2 h5" %>
    <%= link_to "TimeLine", "#", class: "py-2 d-none d-md-inline-block" %>
    <%= link_to "Movie", "#", class: "py-2 d-none d-md-inline-block" %>
    <%= link_to "Music", "#", class: "py-2 d-none d-md-inline-block" %>
    <%= link_to "Book", "#", class: "py-2 d-none d-md-inline-block" %>
    <%= link_to "Setting", "#", class: "py-2 d-none d-md-inline-block" %>
  </div>
</nav>
